*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset,
input {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

p {
  line-height: 1.1;
  font-weight: 400;
  color: white;
}

h2 {
  font-size: 18px;
  line-height: 1;
  font-weight: 400;

}

input {
  font-family: inherit;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.content {
  padding: 133px 30px;
  width: 1140px;
  display: flex;
  justify-content: center;
}

.content__accent {
  color: #545050
}

.content__details {
  box-sizing: border-box;
  flex-direction: column;
  display: flex;
  justify-content: start;
  max-height: 534px;
  margin-left: 30px;
  overflow: auto; 
  min-width: 399px;
}

.result {
  align-self: end;
}

.result__video-container {
  width: 711px;
  height: 386px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  align-items: end;
  font-size: inherit;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
}

.search-form__fieldset:not(:last-child) {
  border: none;
  margin-right: 40px;
}

.button {
  height: 34px;
  font-size: inherit;
  line-height: 1.2;
  font-weight: 700;
  font-family: inherit;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
}

.button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.button:focus {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button:active {
  background-color: #545050;
}

.content__list {
  height: 298px;
  width: 399px;
  display: flex;
  flex-direction: column;
  margin-top: 26px;
  position: relative;
}

.content__list-item {
  margin-bottom: 30px;
  padding: 2px;
  width: 100%;
}

.content__video-card {
  padding: 2px;
  height: 107px;
  display: flex;
  justify-content: space-between;
}

.content__video-card:hover {
  cursor: pointer;
  text-decoration: underline solid white;
  text-underline-position: under;
}

.content__video-card:active {
  background-color: #545050;
}

.content__video-card-title {
  font-family: 'Oswald', 'sans serif';
  font-size: 30px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 6px;
}

.content__video-card-description {
  width: 200px;
  padding-bottom: 2px;
}

.content__video-card-thumbnail {
  object-fit: cover;
  margin-left: 2px;
}

.title {
  font-family: 'Oswald', 'sans serif';
  background-color: #1b1919;
  font-size: 75px;
  line-height: 0.9;
  text-transform: uppercase;
  position: sticky;
}

.content__card-link {
  text-decoration: none;
}

.content__card-link:focus-visible {
  display: block;
  outline: 1px solid #fff;
}

.search-form__submit-button {
  padding: 6px 73px;
}

.more-button {
  box-sizing: border-box;
  width: 100%;
}

input[type="text"] {
  color: white;
  width: 220px;
  font-size: inherit;
  line-height: 1.2;
  font-weight: 400;
  background-color: transparent;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

input[type="text"]:focus {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

input[type="text"]:active {
  outline: 1px solid white;
}

input[type="checkbox"]+span {
  border: 1px solid white;
  background-color: transparent;
}

input[type="checkbox"]:checked+span {
  background-color: #fff;
  outline: 1px solid #000;
  outline-offset: -2px;
}

input[type="checkbox"]:hover~span {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.search-form__label {
  margin-right: 5px;
}

.search-form__label:focus-within {
  outline: 1px solid white;
  outline-offset: 1px;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 2px;
}

